h1 {
    text-align: center;
    color: #333333;
}

.san-pham-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.san-pham {
    background-color: white;
    padding: 20px;
    border: 1px solid #cccccc;
    flex: 1;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #cccccc;
}

.san-pham h3 {
    color: #8b0000;
}

.san-pham p {
    color: #333333;
    font-size: 18px;
}